<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"> <!-- Link to your CSS file -->
    <title>Intellieye Home</title>
</head>
<body>
    <div class="background-image">
        <div class="left-content">
            <h1 class="main-heading">INTELLIEYE</h1>
            <p class="sub-heading">Using CCTV network crowd detection and management, crime prevention, and work monitoring</p>
        </div>
        <div class="right-content">
            <img src="homeillustration.png" alt="Intellieye Illustration" class="right-image">
        </div>
    </div>
</body>
</html>
